<!DOCTYPE html>
<html lang="fa">
<head>
    <title>{{doc.title}}</title>
</head>
<body dir="rtl">
    <div id="basic" align="center">
        <h1>{{doc.title}}</h1>
        <img src="{{doc.image}}"/>
        <p>{{doc.time}}</p>
        <p>{{doc.meta_tag}}</p>
    </div>
    <hr/>
    <div id="detail" align="center">
        <table width="1000" border="0">
            <tr>
                <td style="width:1000px"><p>{{doc.body}}</p></td>
            </tr>
            <tr>
                <td style="width:1000px"><p>{{doc.url}}</p></td>
            </tr>

        </table>
    </div>
    <hr/>
    <div align="center">
        <table width="1000" border="0">
            <tr>
                <td style="width:1000px"><h2></h2></td>
            </tr>

        </table>
    </div>
</body>
</html>